html{
  scroll-behavior: smooth;
  }
/* "*" is a css universal selector used to set style for all elements in an html page*/
/*box-sizing: border-box padding and border are included in the width and height*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
/* Navbar */
/*justify content: property aligns the flexible container's items when the items do not use all available space on the main-axis (horizontally)*/
/*An element with position: sticky; is positioned based on the user's scroll position.*/
/*the top property sets the top edge of an element to a unit above/below the top edge of its nearest positioned*/
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position:sticky;
  top: 0;
  }

.navbar ul{
  display: flex;
  list-style: none;
  margin: 20px 0;
  }

.navbar ul li{
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
  }

/*CSS transitions allows you to change property values smoothly, over a given duration*/
.navbar ul li a{
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all .5s ease;
  }

.navbar ul li a:hover{
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
  }

/* Home Section */
.home{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.15);
  height: 780px;
  justify-content: center;
  align-items: center;
  color: white;
  }

.home::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url('main_page_image.jpeg') no-repeat center center/cover;
  height: 840px;
  width: 100%;
  z-index: -1;
  opacity: 1;
  }

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10%;
  }

.headings{
  font-family: century;
  font-size: 3vw;
  text-align: center;
  margin: 40px 0;
  }

.btn{
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  transition: 0.6s ease;
  text-decoration: none;
  }
 
.btn:hover{
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  font-weight: bold;
  }

h3{
  font-family: century;
  font-size: 1.5vw;
  text-align: center;
  }

/*This is the second section of the website */
#leftbox {
    float:left;
    text-align: center;
    background:Red;
    width:33.33%;
    background-color: rgba(236, 236, 236, 1);
    overflow: scroll;
  }
#middlebox{
    float:left;
    text-align: center;
    background:Green;
    width:33.33%;
    background-color: #dddddd;
    overflow: scroll;
  }
#rightbox{
    float:right;
    text-align: center;
    background:blue;
    width:33.33%;
    background-color: rgba(236, 236, 236, 1);
    overflow: scroll;
  }
.myjourney{
    color:black;
    text-align:center;
    font-family: century;
    font-size: 3rem;
    padding-top: 100px;
    padding-bottom: 50px;
  }

#AboutMe{
  height: 650px;
  }
#leftbox, #middlebox, #rightbox{
  height: 485px;
  }

h2{
font-family: century;
font-size: 1.5rem;
text-align: center;
margin: 40px 0;
  }

/*Gallery Section*/
#gallery{
  padding-top: 100px;
  padding-bottom: 20px;
  font-family: century;
  font-size: 3rem;
  text-align: center;
  }

.home3{
  background-color: rgba(210, 210, 210, 1);
  height: 850px; /*this is the height of the section*/
  justify-content: center;
  align-items: center;
  color: black; /*text color*/
  }

.header {
  text-align: center;
  padding: 32px;
  }

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  }

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  }

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
  }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
  }

/*Contact Page*/
.home4{
  background-color: rgba(210, 210, 210, 1);
  height: 775px; /*this is the height of the section*/
  justify-content: center;
  align-items: center;
  color: black; /*text color*/
  }

#contact{
  font-family: century;
  font-size: 3rem;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  }

.mainmenu{
  font-style: normal;
  text-decoration: none;
  }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  }

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }

input[type=submit]:hover {
  background-color: #45a049;
  }

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  }

.footer{
  text-align: center;
  font-family: century;
  font-size: 1rem;
  background-color: rgba(210, 210, 210, 1);
  color: black;
  font-weight: 100;
  }

.fa{
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  }

.fa:hover {
    opacity: 0.5;
  }
.fa-instagram {
  background: #3B5998;
  color: white;
  }
.fa-whatsapp {
  background: #55ACEE;
  color: white;
  }
.fa-linkedin {
  background: #007bb5;
  color: white;
  }
.fa-twitter {
  background: #3B5998;
  color: white;
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body{
  font-family: century;
  font-weight: 400;
  margin:0;
  background-color: #f2f2f2;
  }

.footer{
  padding: 40px 0;
  background-color: #ffffff;
  background-color: rgba(210, 210, 210, 1);
  }

.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: black;
  }

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
  }
.social{
  vertical-align: middle;
  }

.footer .social a:hover {
  opacity: 0.9;
  }

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  }

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  }

.footer ul li {
  display: inline-block;
  padding: 0 15px;
  }

.footer ul a:hover {
  opacity: 1;
  }

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  }
